.container{
  margin: 20px auto;
  width: 1200px;
  background-color: #090979;
  height: 400px;
  display:  flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.header{
  width: 100%;
  background-color: #033039;
  height: auto;
  display:  flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

