<div class="container-md">
  <div class="row m-4">
    <div class="col">
      <div class="form-group">
        <legend for="exampleFormControlTextarea1"><h3>Resposta Do Gemini</h3></legend>
        <textarea [(ngModel)]="response" style="height: 400px;" class="form-control"  id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="input-group mb-3">
      <br>
      <input  type="text" class="form-control"  [(ngModel)]="valor" placeholder="Digite Sua Pergunta" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <button class="btn btn-success" type="button" id="button-addon2">Enviar</button>
    </div>
  </div>
</div>
